@model IEnumerable<ApplicazioneAlbergo_core_Entity.Models.Servizio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescrizioneServizio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoServizio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescrizioneServizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoServizio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdServizio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdServizio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdServizio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
